
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --secondary_background_color: #f9f9f9;
    --primary_background_color: #ffffff;
    --primary_nav_link_color: #878787;
    --secondary_nav_link_color: #6956e5;
}
.left-sidebar{
    background-color: var(--secondary_background_color);
    width: 290px;
    padding:20px;
}
.left-sidebar-icon{
    height: 33px;
    width: 33px;
    padding-right: 6px;
}
.left-sidebar-title{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

/*menu bar left side*/
.menu-container{
    padding-left: 0px;
}
.menu-container-li{
    list-style-position: inside;
    list-style-type: none;
}
.sidebar-menu-a{
    text-decoration: none;
    color: var(--primary_nav_link_color);
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
}
.sidebar-menu-a:hover{
    background-color: var(--primary_nav_link_color);
    color: var(--secondary_background_color);
    -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.nav-icon{
    width: 30px;
    height: 30px;
}