
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --secondary_background_color: #f9f9f9;
    --primary_background_color: #ffffff;
    --primary_nav_link_color: #878787;
    --secondary_nav_link_color: #6956e5;
    --dmv_black_color: #23262F;
    --gray_color: #828282;
}
.left-sidebar{
    /* background-color: var(--secondary_background_color); */
    /* width: 290px; */
    /* width: 20%; */
    padding:20px;
}
.left-sidebar-icon{
    height: 33px;
    width: 33px;
    padding-right: 6px;
}
.left-sidebar-title{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

/*menu bar left side*/
.menu-container{
    padding-left: 0px;
}
.menu-container-li{
    list-style-position: inside;
    list-style-type: none;
}
.sidebar-menu-a{
    text-decoration: none;
    color: var(--primary_nav_link_color);
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
}
.sidebar-menu-a:hover{
    background-color: var(--primary_nav_link_color);
    color: var(--secondary_background_color);
    -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.nav-icon{
    width: 30px;
    height: 30px;
}

/*right side content section*/

.right-section{
    /* padding: 20px 10px 20px 10px; */
    background-color: #F7F7F7;
    /* padding-top: 20px; */
}
.right-section-title{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: var(--dmv_black_color);
}
.right-section-wishes{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.12px;
    color: var(--gray_color);
}

/*charts*/

.user-type-chart-parent-div{
    height: 200px;
    background-color: white;
    
}
.parking-space-type-chart-parent-div{

background-color: #fff;
padding: 10px;
border-radius: 20px;
box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
 filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
    
}

.card-box{
background-color: #fff;
padding: 10px;
border-radius: 20px;
box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
}

.last-ten-user-table-wrapper
{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
    filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
}